  <%= form_with(model: [:admin, communication]) do |f| %>
    <%= render 'shared/form_results', resource: communication %>

    <div class="field">
      <%= f.label :name, class: "form-label" %><br />
      <%= f.text_field :name, placeholder: "Communication name", class: "form-control", required: true %>
    </div>

    <div data-controller="communications">
      <br>
      <div class="field">
        <%= f.label :lifecyle, class: "form-label" %><br />
        <%= f.select :lifecycle, Communication.lifecycles.keys.map { |key| [key.titleize, key]}, {}, { class: "form-control", "data-communications-target": "communication_type", "data-action": "communications#change_communication_type" } %>
      </div>

      <br>
      <div class="field">
        <%= f.label :type, class: "form-label" %><br />
        <%= f.select :communication_type, Communication.communication_types.keys.map { |key| [key.titleize, key]}, {}, { class: "form-control", "data-communications-target": "communication_type", "data-action": "communications#change_communication_type" } %>
      </div>
    </div>

    <br>
    <div class="field">
      <%= f.label :campaign, class: "form-label" %><br />
      <select name="communication[campaign_id]" id="communication_campaign_id" class="form-control">
        <% Campaign.order(:channel_id).each do |campaign| %>
          <% selected = campaign.id == communication.campaign_id ? "selected" : "" %>
          <option value="<%= campaign.id %>" <%= selected %>>
            <%= "#{campaign.channel.name} - #{campaign.name}" %>
          </option>
        <% end %>
      </select>
    </div>
    
    <% class_string = communication.email? ? "" : "d-none" %>

    <div data-controller="emailpreview">

      <div id="email_fields" class="<%= class_string %>" data-communications-target="email_fields">
        <br>
        <div class="field">
          <%= f.label :email_layout, class: "form-label" %><br />
          <%= f.select :layout, Communication.layouts.keys.map { |key| [key.titleize, key]}, {}, { class: "form-control", 
          "data-emailpreview-target": "layout",
          "data-action": "change->emailpreview#single_email_preview" } %>
        </div>
        
        <br>
        <div class="field">
          <%= f.label :email_subject, class: "form-label" %><br />
          <%= f.text_field :subject, placeholder: "Email Subject", class: "form-control",  required: true %>
        </div>

        <br>
        <div class="field">
            <%= f.label :email_preview %>
            <%= f.rich_text_area :preview, class: "form-control",
                "data-emailpreview-target": "emailPreview",
                "data-action": "keyup->emailpreview#single_email_preview" %>
        </div>
      </div>
    
      <div class="field">
        <hr>
      </div>
      
      <%= render 'admin/communications/instructions' %>
    
      <br>
      <div class="field">
          <%= f.label :content %>
          <%= f.rich_text_area :content, class: "form-control", 
          "data-emailpreview-target": "emailContent",
          "data-action": "keyup->emailpreview#single_email_preview" %>
      </div>

      <div>
        <br>
        <%= f.submit class: admin_button_class, id: "channel_form_button" %>
      </div>

      <div class="d-none" data-emailpreview-target="communication"><%= communication.id %></div>

      <%= render 'shared/mailer/email_preview' %>
    </div>
  <% end %>
  

</div>



