<%= render 'admin/shared/header', title: "Manage Communications" %>
<br>

<%= form_with url: admin_communications_path, method: :get, class: "row row-cols-lg-auto g-3 align-items-center" do |f| %>
    <div class="col">
      <div class="input-group">
        <%= f.text_field :name, value: params[:name], class: "form-control", placeholder: "Name", id: "filter_name" %>
      </div>
    </div>

    <div class="col">
      <%= f.submit "Filter", class: admin_button_class, id: "users_filter_button" %>
    </div>
<% end %>

<br>

<div id="communications">
  <div class="row">
    <div class="col-3 <%= admin_background_class %>"><strong>Name</strong></div>
    <div class="col-2 <%= admin_background_class %>"><strong>Type</strong></div>
    <div class="col-2 <%= admin_background_class %>"><strong>Lifecycle</strong></div>
    <div class="col-2 <%= admin_background_class %>"><strong>Layout</strong></div>
    <div class="col-2 <%= admin_background_class %>"><strong>Actions</strong></div>
  </div>

  <% @communications.each do |communication| %>
    <%= render communication %>
    <p>
      <%#= link_to "Show this communication", communication %>
    </p>
  <% end %>
</div>

<br>

<%= render 'shared/paging', resources: @communications %>

<%= link_to "New communication", new_admin_communication_path %>
