<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, blogs_url(format: "rss")) %>
<% end %>

<main class="container">
  <p style="color: green"><%= notice %></p>
  
  <!-- https://getbootstrap.com/docs/5.0/examples/blog/ -->
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic"><%= @featured_blog.title %></h1>
        <p class="lead my-3">
          <%= @featured_blog.teaser %>
        </p>
        <p class="lead mb-0"><a href="<%= blog_path(@featured_blog) %>" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>  
</main>



<div class="row mb-2">
    <div class="col-md-8">
      <h4 class="text-primary">Blogs</h4>
      
      <% @blogs.each do |b| %>
        <p><%= b.title %></p>
      <% end %>
      
      <br>
      
      <%= render 'shared/paging', resources: @blogs %>
      
    </div>
    <div class="col-md-4">
      <h4 class="text-primary">Sidebar</h4>
    </div>
</div>
