<%= render "shared/form_results", resource: resource %>

<% if resource.new_record? and session[:campaign_id] %>
  <%= f.hidden_field :campaign_id, value: session[:campaign_id].to_s %>
<% end %>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
</div>


<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<br>

<div class="field">
  <div style="overflow-y: scroll; height:40px; width: 400px;">
    <%= TermsAndCondition.latest&.content %>
  </div>
</div>

<div data-controller="termsandconditions">
  <div class="field">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
        id = "terms_and_conditions_checkbox"
        data-termsandconditions-target = "checkbox"
        data-action = "change->termsandconditions#checkbox_ticked" 
        required>
      <label class="form-check-label" for="terms_and_conditions_checkbox">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= render 'shared/ui/button', button_class: standard_button_class, id: "sign_up_button", data_target: "data-termsandconditions-target = 'submitButton'", disabled: true do %>
      Sign up
    <% end %>
  </div>
  
</div>




