<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'ui' %>
    <meta
      name="description"
      content="<%= @meta_description %>"
    />
    <meta
      name="keywords"
      content="<%= @meta_keywords %>"
    />

    <script src="https://js.stripe.com/v3/"></script>
    <%= tag.meta name: "stripe-key", content: ENV['STRIPE_API_KEY'] %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" %>
    view raw
    <%= render 'layouts/shared/facebook_meta_tags' %>
    <%= render 'layouts/shared/google_tag_manager_head' %>
    
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    
    <%= yield :head %>    
  </head>
  <body>
    <%= render 'layouts/shared/google_tag_manager_body' %>
