<br>
<div class="row">
  <div class="col">
    <h4>Checkout</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>Order Summary</strong>
  </div>
</div>
<br>
<div class="row bg-dark text-white">
  <div class="col-3">
    Product
  </div>
  <div class="col-1">
    Quantity
  </div>
  <div class="col-1">
    Amount
  </div>
  <div class="col-1">
    Total
  </div>
</div>

<% accumulated_total = 0 %>
<% @shopping_cart.each do |key, value| %>
  <%
    product = Product.find(key)
    total   = product.price_in_cents * value["count"]
    accumulated_total += total
  %>
  <div class="row">  
    <div class="col-3">
      <%= product.name %>
    </div>
    <div class="col-1">
      <%= value["count"] %>
    </div>
    <div class="col-1">
      <%= cents_to_dollars product.price_in_cents %>
    </div>
    <div class="col-1">
      <%= cents_to_dollars total %>
    </div>
  </div>
<% end %>

<br>

<div class="row">  
  <div class="col-3">
    <strong>Total</strong>
  </div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-1">
    <strong>
      <%= cents_to_dollars accumulated_total %>
    </strong>
  </div>
</div>

<br>

<div id="checkout_continue">
  <div class="row">  
    <div class="col-3"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1">
      
      <% if current_user %>
        <button class="btn btn-success">
          Pay Now
        </button>
      <% else %>
        <%= form_with url: checkout_create_account_path, method: :post do |f| %>
          <%= f.submit "Contine", class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


