
<% if @error %>
  <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      <%= @error %>
    </div>
    <button type="button" class="btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if @warning %>
  <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      <%= @warning %>
    </div>
    <button type="button" class="btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if @success %>
  <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      <%= @success %>
    </div>
    <button type="button" class="btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if resource %>
  <% if resource.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false" class="alert alert-danger">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                   count: resource.errors.count,
                   resource: resource.class.model_name.human.downcase)
         %>
      </h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>


