<%= form_with model: [:admin, channel, campaign] do |f| %>
  <%= render 'shared/form_results', resource: campaign %>

  <div class="field">
    <%= f.label :name, class: "form-label" %><br />
    <%= f.text_field :name, placeholder: "Campaign name", class: "form-control", required: true %>
  </div>

  <div>
    <br>
    <%= f.submit class: admin_button_class, id: "channel_campaign_button" %>
  </div>

<% end %>
