<%= form_with model: [:admin, channel, campaign] do |f| %>
  <%= render 'shared/form_results', resource: campaign %>

  <br>
  <div class="field">
    <%= f.label  :communication_type, class: "form-label" %><br />
    <%= f.select :communication_type, Campaign.communication_types.keys.map { |key| [key.titleize, key]}, {}, { class: "form-control", "data-communications-target": "communication_type", "data-action": "communications#change_communication_type" } %>
  </div>

  <br>

  <div class="field">
    <%= f.label :name, class: "form-label" %><br />
    <%= f.text_field :name, placeholder: "Campaign name", class: "form-control", required: true %>
  </div>
  
  <br>
  <div class="field">
    <%= f.label :redirect_url, class: "form-label" %><br />
    <%= f.text_field :redirect_url, placeholder: "Campaign name", class: "form-control" %>
  </div>

  <div>
    <br>
    <%= f.submit class: admin_button_class, id: "channel_campaign_button" %>
  </div>

<% end %>
