<%= render 'dashboard/shared/header', title: "My Orders" %>


<%= form_with url: admin_products_path, method: :get, class: "row row-cols-lg-auto g-3 align-items-center" do |f| %>
    <div class="col">
      <div class="input-group">
        <%= f.text_field :order_id, value: params[:order_id], class: "form-control", placeholder: "Order Id", id: "filter_order_id" %>
      </div>
    </div>

    <div class="col">
      <%= f.submit "Filter", class: admin_button_class, id: "dashboard_orders_filter_button" %>
    </div>

<% end %>


<div class="row">
  <div class="col-2"><strong>Date</strong></div>
  <div class="col-1"><strong>No.</strong></div>
  <div class="col-3"><strong>Items</strong></div>
  <div class="col-2"><strong>Total</strong></div>
  <div class="col-2"><strong>Status</strong></div>
  <div class="col-2"><strong>Actions</strong></div>
</div>

<% if @orders.empty? %>
  <div class="row">
    <div class="col-12 d-flex">
      <p>You have no orders</p>
    </div>
  </div>
<% else %>
  <% @orders.each do |order| %>
    <div class="row">
      <div class="col-2"><%= short_date order.created_at %></div>
      <div class="col-1"><%= order.order_number %></div>
      <div class="col-3">
        <% order.product_orders.each do |po| %>
          <%= "#{po.product.name} #{po.product.pricing_string}" %><br>
        <% end %>
      </div>
      <div class="col-2"><%= cents_to_dollars order.amount_in_cents %></div>
      <div class="col-2"><%= order.transactions.first.status.humanize %></div>
      <div class="col-2">
        <%= link_to "Detail", dashboard_order_path(order) %>
      </div>
    </div>
  <% end %>
<% end %>

<br>

<%= render 'shared/paging', resources: @orders %>
