<button class="btn <%= button_class %> rounded-pill px-3" id="<%= id %>" type="submit" name="commit" <%= raw (defined?(data_target) ? data_target : "") %> <%= defined?(disabled) ? "disabled" : "" %>>
  <%= yield %>
</button>