<%= form_with(model: [:admin, product]) do |f| %>
  <%= render 'shared/form_results', resource: product %>
  
  <div class="field">
    <%= f.label :name, class: "form-label" %><br />
    <%= f.text_field :name, placeholder: "Product name", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :sku, class: "form-label" %><br />
    <%= f.text_field :sku, placeholder: "SKU", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :stripe_product_api_id, class: "form-label" %><br />
    <%= f.text_field :stripe_product_api_id, placeholder: "Stripe Product API ID", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :price_in_cents, class: "form-label" %><br />
    <%= f.number_field :price_in_cents, class: "form-control", min: 0, step: 0.01 %>
  </div>
  
  <div class="field">
    <%= f.label :meta_description, class: "form-label" %><br />
    <%= f.text_field :meta_description, autocomplete: "Meta description", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :meta_keywords, class: "form-label" %><br />
    <%= f.text_field :meta_keywords, autocomplete: "Meta keywords, seperated by comma's", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :main_image, class: "form-label" %><br />
    <%= f.file_field :main_image, class: "form-control" %>
  </div>


  <div class="field">
    <%= f.label :purchase_type, class: "form-label" %><br />
    <%= f.select :purchase_type, Product.purchase_types.keys.map { |key| [key.titleize, key]}, {}, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= f.label :billing_type, class: "form-label" %><br />
    <%= f.select :billing_type, Product.billing_types.keys.map { |key| [key.titleize, key]}, {}, { class: "form-control" } %>
  </div>
  
  <div class="field">
      <%= f.label :teaser %>
      <%= f.rich_text_area :teaser, class: "form-control" %>
  </div>

  <div class="field">
      <%= f.label :description %>
      <%= f.rich_text_area :description, class: "form-control" %>
  </div>
  
  <br>
  <div class="field">
    <div class="form-check form-switch">
      <%# checked = product.for_sale ? "checked" : "" %>
       <!-- <input class="form-check-input" name="product[for_sale]" type="checkbox" id="product_for_sale" <%#= checked %>>  -->
      <% checked = product.for_sale ? true : "" %>
      <%= f.check_box :for_sale, class: "form-check-input", checked: checked %>
      <%= f.label :for_sale, class: "form-check-label", id: "product_for_sale", for: "product_for_sale" %>
    </div>
  
  <br>
  
  <%= f.submit "Save", class: admin_button_class, id: "admin_products_update_button" %>

<% end %>

<hr>

<% transaction = User::test %>
<%= render 'transactions/stripe_payment_form', transaction: transaction %>

