<p style="color: green"><%= notice %></p>

<%= render @mailing_list %>

<div>
  <%= link_to "Edit this mailing list", edit_admin_mailing_list_path(@mailing_list) %> |
  <%= link_to "Back to mailing lists", admin_mailing_lists_path %>

  <%= button_to "Destroy this mailing list", admin_mailing_list(@mailing_list), method: :delete %>
</div>
