<br>
<%= form_with(model: [:admin, user], local: true) do |f| %>
  
  
    <div class="field">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    
    <br>
    
    <div class="field">
      <%= f.label :first_name, class: "form-label" %><br />
      <%= f.text_field :first_name, autocomplete: "first name", class: "form-control" %>
    </div>
    
    <br>
    
    <div class="field">
      <%= f.label :last_name, class: "form-label" %><br />
      <%= f.text_field :last_name, autocomplete: "last name", class: "form-control" %>
    </div>

    <br>
    <div class="field">
      <%= f.label :role, class: "form-label" %><br />
      <%= f.select :role, User.roles.keys.map { |key| [key.titleize, key]}, {}, { class: "form-control" } %>
    </div>
    
    <br>
    <div class="field">
      <%= f.label :stripe_customer_id, class: "form-label" %><br />
      <%# Note this should never be changed by an admin user %>
      <strong><%= user.stripe_customer_id %></strong>
    </div>

    <br>
    <div class="field">
      <%= f.label :time_zone, class: "form-label" %><br />
      <select name="user[time_zone]" id="user_time_zone" class="form-control">
        <% ISTime::times_zones_for_select.each do |tz| %>
          <% selected = user.time_zone == tz ? "selected" : "" %>
          <option value="<%= tz %>" <%= selected %>><%= tz %></option>
        <% end %>
      </select>
    </div>
  
    <br>
    
    <%= f.submit "Save", class: admin_button_class, id: "admin_users_update_button" %>
<% end %>
<br>
