<div class="col">
  <div class="card" id="<%= dom_id product %>">
  <h5 class="card-header d-flex justify-content-center"><%= product.name %></h5>
  <% if product.main_image.attached? %>
    <%= image_tag(product.main_image, class: "image-fluid rounded", alt: product.name, title: product.name) %>
  <% end %>
  <br>
  <div class="card-body ">
    <p class="card-text d-flex justify-content-center">
      <div class="trix-content">
        <%= product.teaser %>
      </div>      
    </p>
    
    <p class="card-text d-flex justify-content-center">
      <%= cents_to_dollars product.price_in_cents %> <%= product.pricing_string %>
    </p>

    <p class="card-text d-flex justify-content-center">
      <% if product.subscription? %>
        <button type="button" class="btn btn-success">
          Subscribe for <%= cents_to_dollars product.price_in_cents %> <%= product.pricing_string %>
        </button>
      <% else %>
        <button type="button" class="btn btn-primary">
          <%= cents_to_dollars product.price_in_cents %>
        </button>
        
    <% end %>
    </p>
    
    <%= @shopping_cart.inspect %>

    <%= render 'shared/add_to_cart', product: product %>
    
  </div>
</div>
</div>
