<%= render 'layouts/shared/header' %>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= admin_dashboard_path %>" title="Admin">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if current_user %>
            <li class="nav-item">
            </li>
          <% end %>
        </ul>
        <%= form_with url: admin_logout_path, method: :get, class: "d-flex" do |f| %>
          <%= f.submit(
                  "Log Out",
                  class: "nav-button btn btn-sm btn-primary",
                  id: "admin_sign_out"
                ) %>
        <% end %>
      </div>
    </div>
  </nav>      
  
  <div class="d-flex">

  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper" style="width: 20%;" role="navigation">    
    <br>
    <ul class="list-group"> 
      <li class="list-group-item"><%= link_to "Users",         admin_users_path,         id: "admin_users_crud" %></li>
      <li class="list-group-item"><%= link_to "Mailing Lists", admin_mailing_lists_path, id: "admin_mailing_lists_crud" %></li>
      <li class="list-group-item"><%= link_to "Blogs",         admin_blogs_path,         id: "admin_blogs_crud" %></li>
    </ul>
  </div>  
  
  <!-- Page Content -->
  <div class="w-100" id="page-content-wrapper" style="padding: 8px 0px 0px 32px;">

    <div class="container-fluid small_padding_fix" >      
      <%= render 'layouts/shared/notices' %>      
      <%= yield %>      
    </div>

  </div>
  
</div>


<%= render 'layouts/shared/footer' %>
